<div class="container">
  <div class="row">
    <div class="col-md-6 mb-3" *ngFor="let news of topNews">
      <div class="card h-100">
      <div class="card-body d-flex">
        <div class="d-grid">
      <h6 class="text-danger">{{news.title}}</h6>
      <span>{{news.author}}</span>
      <h6>{{news.description}}</h6>
      <span class="text-secondary">{{news.publishedAt}}</span>
      <a class="btn btn-primary read_btn" [href]="news.url">Read More</a>
        </div>
      <img [src]="news.urlToImage? news.urlToImage:'https://cdn5.vectorstock.com/i/1000x1000/39/54/news-icon-in-flat-style-grey-color-vector-24373954.jpg'" class="ms-auto" style="height: 80px;width: 80px;">
    </div>
  </div>
    </div>
  </div>

</div>
